@import url(./elements.css);

* {
    margin: 0;
    font-family: "VT323", monospace;
    overflow: hidden;
    font-weight: 400;
    box-sizing: border-box;
}

:root {
    --black: #342e37;
    --brown: rgb(205, 151, 122);
    --blue: #6290c8;
    --red: #eb5959;
    --green: rgb(132, 198, 74);
}

html, body, #__nuxt {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
    color: var(--black);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 69;
}

.overlay-element {
    pointer-events: all;
    border: 5px white solid, 10px var(--black) solid;
    padding: 2rem;
    border-radius: 5px;
    background: var(--black);
    box-shadow: 0 -10px 50px var(--black);
}

.content > *:not(:last-child) {
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

.allcaps {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
}